


<div class="home-logo">
    <img class="home-icon"  src="../../assets/icons/home-icon.svg" alt="">
    <p class="home-text">/ New Order</p>
</div>

<div class="Pharmacy-title">
    <img class="Pharmacy-icon"  src="../../assets/icons/pharmacy-icon.svg" alt="">
    <p class="username" > Hello /  {{ userName}}</p>
    <button class="myOrder" (click)="getCustomerOrder()" >My Order</button>
</div>

<ng-container >
<order ></order>

</ng-container>

<order-list [Orders]='Orders' ></order-list>







<mat-paginator *ngIf='Orders.length != 0'
[length]="orderlist?.count"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"
(page)="pageEvent =$event; onChangePage($event)"
aria-label="Select page">
</mat-paginator>
