.main {
  display: inline-block;
  background-color: rgb(27, 120, 202);

  width: 100%;
  height: 750px;
  position: relative;
  z-index: 1;
  top: 0;
}

.first-order-button {
  background-color: #8ddd3d;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 200px;
  top: 25px;
  padding: 5px 10px;
  position: absolute;
  white-space: nowrap;
}
.main-text {
  top: 120px;
  left: 150px;
  color: wheat;
  width: 450px;
}
.first-order-button:hover {
  box-shadow: rgba(195, 238, 212, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.sigin {
  background-color: rgb(27, 120, 202);
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 5px 10px;
  position: absolute;
  white-space: nowrap;
  right: 100px;
  top: 25px;
}

.sigin:hover {
  box-shadow: rgba(195, 238, 212, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.main-description {
  margin: 350px 80px;
}
p {
  font-size: 2em;
  color: antiquewhite;
  padding-bottom: 20px;
}
h3 {
  font-size: 1.2em;
  color: antiquewhite;
}
.order-text {
  padding-top: 10px;
  font-size: 1em;
  color: rgb(184, 183, 182);
}
.second-order-button {
  background-color: #8ddd3d;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  padding: 5px 10px;
  position: absolute;
  white-space: nowrap;
}

.second-order-button:hover {
  box-shadow: rgba(195, 238, 212, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* about section */
.about {
  height: 750px;
}

.about-paragraph {
  font-size: 2em;
  color: rgb(27, 120, 202);
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
.about-text {
  font-size: 1.2em;
  color: black;
  text-align: center;
}
.description {
  display: block;
  width: 700px;
  text-align: left;
  right: 00px;
  position: absolute;
  left: 100px;
}
.about-background {
  /* background-image: url("/assets/images/national-cancer(1).png"); */
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 500px;
  width: 650px;

 left: 100px;
}

.description {
  font-size: 1em;
  color: black;
  margin-left: 40%;
  position: inline-block;
}
.first-arrow-icon {
  margin-left: 750px;
  position: relative;
}
.second-arrow-icon {
  position: relative;
  margin-left: 1500px;
  top: 200px;
}
/* founder */
.founder {
  background-color: rgb(183, 221, 220);
  width: 100%;
  height: 700px;
}
.founder-paragraph {
  color: rgb(27, 120, 202);
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  padding-top: 60px;
}
.founder-text {
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.founder-description {
  display: flex;
}

.founder-img {
  width: 300px;
  height: 400px;
  position: absolute;
  margin-left: 5%;
}

.founder-description-text {
  height: 90px;
  text-align: justify;
  display: inline;

  color: black;
  font-size: 1.3em;
}
.description-text {
  width: 520px;
  height: 400px;
  padding-left: 50px;
}

/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
  margin-bottom: 50px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  margin: 1em;
  height: 150px;
  padding-left: 0px;
}
.founder-slide-title {
  color: rgb(27, 120, 202);
  font-size: 1.5em;
  margin-top: 0px;
  margin-left: 300px;
}
.founder-slide-text {
  font-size: 1.2em;
  color: black;
  padding-left: 15em;
  position: inline-block;
}
.founder-slide-img {
  width: 15px;
  top: 12px;
  position: absolute;
}

/* mission */
.mission {
  background-color: rgb(183, 221, 220);
  width: 100%;
  height: 800px;
  padding: 50px;
  display: block;
}
.mission-body {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  background-color: aliceblue;
  height: 350px;
  display: inline-block;
  margin-left: 170px;
  position: relative;
}

.mission-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mission-paragraph {
  color: rgb(27, 120, 202);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.mission-title {
  color: black;
  text-align: center;
  font-size: 1.5em;
}
.mission-text {
  color: black;
  text-align: center;
  font-size: 1em;
  padding-left: 50px;
  padding-right: 90px;
}

/* mission card */
.mission-img {
  width: 50px;
  position: relative;
  left: 40%;
  top: 10px;
  margin-bottom: 20px;
}
.mission-card-text {
  padding: 2px 16px;
  text-align: center;
}
.mission-card-title {
  text-align: center;
  font-weight: bold;
  color: black;
}
.mission-card-paragraph {
  color: black;
}

.footer-contact {
  width: 100%;
  height: 500px;

  background-color: white;
}
.contact-title {
  text-align: center;
  color: rgb(27, 120, 202);
  font-size: 1.5em;

  padding-top: 30px;
}
.contact-text {
  text-align: center;
  color: black;
  font-size: 1em;
  padding-bottom: 50px;
}
.contact-textarea-text {
  width: 300px;
  height: 300px;

  background: 
  /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(20, 150, 190, 0.7),
      rgba(20, 150, 188, 0.7)
    ),
    /* bottom, image */ url("/assets/images/ruchindra-gunas.png");
  background-repeat: no-repeat;
  background-size: 250px 300px;
  position: absolute;
  margin-left: 200px;
  padding-left: 350px;
  display: inline-block;
  width: 800px;
}
.foorer-button {
  background-color: rgb(122, 196, 61);
  color: azure;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  padding-left: 9px;
}
.foorer-button:hover {
  box-shadow: rgba(195, 238, 212, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.slider {
  position: absolute;
  width: 500px;
  height: 750px;
  top: 0;
  right: 0;
  z-index: 0;
}

.slides {
  display: absolute;
  width: 100%;
  height: 100%;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.dots {
  position: absolute;
  top: 50%;
  right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  margin: 5px 0;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

textarea {
  border: none;
  outline: none;
}
