
<div class="main">
  <div>
    <img class="nav-img" src="../../assets/images/ruchindra-gunas.png" />
  </div>
  <button class="first-order-button" >Order Now</button>
  <button class="sigin" routerLink="login">Sigin in</button>

  <div class="main-description">
    <p>Gaza Central Company</p>
    <h3>
      lorem lqusem is simply dummy text of the printing and typeesetting
      industry. lorem lqusem is simply dummy text of the printing and
      typeesetting industry.
    </h3>
    <h3 class="order-text">Lets create your first order</h3>
    <button class="second-order-button" >Order Now >></button>
  </div>
</div>

<div class="about">
  <p class="about-paragraph">About Gaza Central Company</p>
  <h2 class="about-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
  </h2>
  <img class="first-arrow-icon" src="../../assets/icons/quotes.svg" alt="" />
  <div class="about-description">
    <h3 class="description">
      lorem lqusem is simply dummy text of the printing and typeesetting
      industry. lorem lqusem is simply dummy text of the printing and
      typeesetting industry. lorem lqusem is simply dummy text of the printing
      and typeesetting industry. lorem lqusem is simply dummy text of the
      printing and typeesetting industry. lorem lqusem is simply dummy text of
      the printing and typeesetting industry. lorem lqusem is simply dummy text
      of the printing and typeesetting industry. lorem lqusem is simply dummy
      text of the printing and typeesetting industry. lorem lqusem is simply
      dummy text of the printing and typeesetting industry. lorem lqusem is
      simply dummy text of the printing and typeesetting industry.
    </h3>
    <img class="second-arrow-icon" src="../../assets/icons/quotes.svg" alt="" />
    <img class="about-background" src="../../assets/images/national-cancer(1).png" alt="" />
   <!--<div class="about-background"></div>--> 
  </div>
</div>

<div class="founder">
  <p class="founder-paragraph">Founder & Board of Directors</p>
  <h2 class="founder-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
  </h2>
  <div class="founder-description">
    <div class="test">
      <h3 class="founder-description-text">
        lorem lqusem is simply dummy text of the printing and typeesetting
        industry. lorem lqusem is simply dummy text of the printing and
        typeesetting industry. lorem lqusem is simply dummy text of the printing
        and typeesetting industry. lorem lqusem is simply dummy text of the
        printing and typeesetting industry. lorem lqusem is simply dummy text of
        the printing and typeesetting industry. lorem lqusem is simply dummy
        text of the printing and typeesetting industry. lorem lqusem is simply
        dummy text of the printing and typeesetting industry. lorem lqusem is
        simply dummy text of the printing and typeesetting industry. lorem
        lqusem is simply dummy text of the printing and typeesetting industry.
      </h3>
    </div>
    <div class="test">
      <img class="founder-img" src="/assets/images/founder.png" alt="" />
    </div>
    <div class="test">
      <h3 class="founder-description-text">
        lorem lqusem is simply dummy text of the printing and typeesetting
        industry. lorem lqusem is simply dummy text of the printing and
        typeesetting industry. lorem lqusem is simply dummy text of the printing
        and typeesetting industry. lorem lqusem is simply dummy text of the
        printing and typeesetting industry. lorem lqusem is simply dummy text of
        the printing and typeesetting industry. lorem lqusem is simply dummy
        text of the printing and typeesetting industry. lorem lqusem is simply
        dummy text of the printing and typeesetting industry. lorem lqusem is
        simply dummy text of the printing and typeesetting industry. lorem
        lqusem is simply dummy text of the printing and typeesetting industry.
      </h3>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="founder-slide-img">
  <img  src="/assets/images/char-01.png" alt="" />
</div>
  <h1 class="founder-slide-title">Chaiman Of Board Haifa Abdel</h1>
  <h3 class="founder-slide-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.

  </h3>
  
</div>
<br>
</div>


<div class="card">
  <div class="card-body">
    <div class="founder-slide-img">
  <img  src="/assets/images/images (1).png" alt="" />
</div>
  <h1 class="founder-slide-title">Vice Chairman of Board of Directord,General Manger and Dirctor of sales of the public Sector</h1>
  <h3 class="founder-slide-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.

  </h3>
  
</div>
<br>
</div>

<div class="card">
  <div class="card-body">
    <div class="founder-slide-img">
  <img  src="/assets/images/alexander-hipp-.png" alt="" />
</div>
  <h1 class="founder-slide-title">Member of the Board of Directors, Director of Public Relation and Financil Director Hitham Hassan</h1>
  <h3 class="founder-slide-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.

  </h3>
  
</div>
<br>
</div>

<div class="card">
  <div class="card-body">
    <div class="founder-slide-img">
  <img  src="/assets/images/images.png" alt="" />
</div>
  <h1 class="founder-slide-title"> Member of the Board of Directors, Director of Public Relation and Financil Director Toussef Sharab</h1>
  <h3 class="founder-slide-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.

  </h3>
  
</div>
<br>
</div>

<div class="mission">
  <p class="mission-paragraph">Our Mission & Vision</p>
  <h1 class="mission-title">Quality,integrity,Experince</h1>
  <h3 class="mission-text">
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.
    lorem lqusem is simply dummy text of the printing and typeesetting industry.

  </h3>
  <div class="mission-body">
    <img class="mission-img" src="/assets/images/quality.png"  >
    <div class="mission-card-text">
      <p class="mission-card-title">John Doe</p> 
      <h3 class="mission-card-paragraph">Architect & Engineer
        Architect & Engineer
        Architect & Engineer
      </h3> 
    </div>
  </div>

  <div class="mission-body">
    <img class="mission-img" src="/assets/images/quality.png"  >
    <div class="mission-card-text">
      <p class="mission-card-title">John Doe</p> 
      <h3 class="mission-card-paragraph">Architect & Engineer
        Architect & Engineer
        Architect & Engineer
      </h3> 
    </div>
  </div>
  <div class="mission-body">
    <img class="mission-img" src="/assets/images/quality.png"  >
    <div class="mission-card-text">
      <p class="mission-card-title">John Doe</p> 
      <h3 class="mission-card-paragraph">Architect & Engineer
        Architect & Engineer
        Architect & Engineer
      </h3> 
    </div>
  </div>
</div>


<div class="footer-contact">

  <p class="contact-title">Countact Us</p>
  <h3 class="contact-text">Leave Us Your Messges</h3>

  <div class="contact-textarea" >
      
      <div class="contact-textarea-text">
      <h3>contact us now to send you an account number</h3>
      <textarea cols="60" rows="10" placeholder="Enter Your Massege"></textarea>
      <br>
      <button class="foorer-button">Submuit>></button>
      </div>
  </div>
  </div>


