.home-logo {
  left: 90px;
  position: absolute;
  top: 130px;
  width: 300px;
  height: 70px;
}
.home-icon {
  position: absolute;
}
.home-text {
  padding-left: 40px;
  display: inline-block;
  color: rgb(27, 120, 202);
  font-weight: bold;
}

.Pharmacy-title {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 85%;
  height: 42px;
  position: relative;
  display: inline-block;
  top: 100px;
  left: 90px;
}

.Pharmacy-icon {
  position: absolute;
  top: 5px;
  left: 30px;
  display: inline-block;
}
.info-paragraph {
  padding-left: 100px;

  display: inline-block;
}
.Location {
  position: absolute;
  left: 30%;
  top: 10px;
  font-weight: bold;
}
.Location-icon {
  color: red;
  position: absolute;
  left: 28%;
  top: 8px;
  font-weight: bold;
}
.Location-user {
  position: absolute;
  top: 10px;
  left: 36%;
  color: rgb(181, 177, 177);
  font-size: 0.9em;
}
.name-user {
  position: absolute;
  top: 10px;
  left: 180px;
  color: rgb(181, 177, 177);
  font-size: 0.9em;
}

.myOrder {
  background-color: #3d70dd;
  border-radius: 100px;
  box-shadow: rgba(74, 200, 222, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;

  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  white-space: nowrap;
  right: 30px;
  margin-top: 10px;
}

.myOrder:hover {
  box-shadow: rgba(195, 238, 212, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.username {
  left: 50px;
  margin: 10px 70px;
  font-weight: bold;
  width: 40%;
  float: left;
}

.style {
  margin-bottom: 550px;
}
