<div class="home-logo">
  <img class="home-icon" src="../../assets/icons/home-icon.svg" alt="" />
  <p class="home-text">/ New Order</p>
</div>
<br />
<div class="Pharmacy-title">
  <img
    class="Pharmacy-icon"
    src="../../assets/icons/pharmacy-icon.svg"
    alt=""
  />
  <p class="username">Pharmacy Name</p>
  <h6 class="name-user">{{ userName }}</h6>
  <mat-icon class="Location-icon"> add_location</mat-icon>
  <p class="Location">Location</p>
  <h6 class="Location-user">{{ userName }}</h6>
</div>

<ng-container>
  <order></order>
</ng-container>

<div class="style"></div>
